
</style>
<div class="pcoded-content" ng-init="getAll();">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-body">
                    <div class="card" ng-show='loading1==1'>
                        <div class="card-header">
                            <ul class="breadcrumb-title pull-right">
                                <li class="breadcrumb-item">
                                    <a href="#/"> <i class="fa fa-home"></i> </a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#/">Campaign</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a class="active">Campaign List</a>
                                </li>
                            </ul>
                            <h3>Campaign List</h3>
                            <hr>
                        </div>
                        <div class="card-block">
                            <div class="row">
                              <div class="col-lg-11">
                                <input type="text" class="form-control" id="searchtext" ng-model="searchtext" onkeyup="angular.element(this).scope().getSearch();" placeholder = "Search by-  Campaign Name / Title..."/><br>
                              </div>
                              <div class="col-lg-1">
                                <a class="btn btn-outline btn-info" href="#/campaign/create">Add</a>
                              </div>
                            </div>
                            <div class="form-group row">
                                <table class="table table-hover table-responsive">
                                  <thead>
                                    <tr>
                                      <th>First Delivery</th>
                                      <th>End Date</th>
                                      <th>Delivery Frequency</th>
                                      <th>Campaign Name</th>
                                      <th>Restriction</th>

                                      <th>Account List</th>
                                      <th>Supression File</th>
                                      <th>Domain Limit</th>
                                      <th>Employee Size</th>
                                      <th>Disqualifies</th>

                                      <th>Title</th>
                                      <th>Lead Count</th>
                                      <th>Verticals</th>
                                      <th>Geo</th>
                                      <th>Allowed Domain</th>

                                      <th>Revenue</th>
                                      <th>Custom Question</th>
                                      <th>Denied Domain</th>
                                      <th>Campaign Asset</th>
                                      <th>Industry</th>

                                      <th>Department</th>
                                      <th>Method</th>
                                      <th>Job Function / Level</th>
                                      <th>Action</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr ng-repeat="campaign in filteredTodos | filter : campaign">
                                      <td>{{campaign.cm_first_dely}}</td>
                                      <td>{{campaign.cm_end_date | date}}</td>
                                      <td>{{campaign.cm_dely_frequency}}</td>
                                      <td>{{campaign.cm_campaign_name}}</td>
                                      <td>{{campaign.cm_restrict}}</td>

                                      <td ng-if="campaign.cm_account_list == 'Yes'" ng-click="accntView($index)" style="cursor: pointer;">{{campaign.cm_account_list}}</td>
                                      <td ng-if="campaign.cm_account_list == 'No'" ng-click="accntView($index)">{{campaign.cm_account_list}}</td>


                                      <td ng-if="campaign.cm_supression_file == 'Yes'" ng-click="supressionView($index)" style="cursor: pointer;">{{campaign.cm_supression_file}}</td>
                                      <td ng-if="campaign.cm_supression_file == 'No'" ng-click="supressionView($index)" >{{campaign.cm_supression_file}}</td>

                                      <td>{{campaign.cm_domain_limit}}</td>
                                      <td>{{campaign.cm_emp_size}}</td>
                                      <td>{{campaign.cm_disqualifies}}</td>
                                      <td>{{campaign.cm_title}}</td>
                                      <td>{{campaign.cm_lead_count}}</td>
                                      <td>{{campaign.cm_vertical}}</td>
                                      <td>{{campaign.cm_geo}}</td>

                                      <td ng-if="campaign.cm_allow_domain == 'Yes'" ng-click="allowView($index)" style="cursor: pointer;">{{campaign.cm_allow_domain}}</td>
                                      <td ng-if="campaign.cm_allow_domain == 'No'" ng-click="allowView($index)">{{campaign.cm_allow_domain}}</td>

                                      <td>{{campaign.cm_revenue}}</td>

                                      <td ng-if="campaign.cm_custom_question == 'Yes'" ng-click="customView($index)" style="cursor: pointer;">{{campaign.cm_custom_question}}</td>
                                      <td ng-if="campaign.cm_custom_question == 'No'" ng-click="customView($index)">{{campaign.cm_custom_question}}</td>

                                      <td ng-if="campaign.cm_denied_domain == 'Yes'" ng-click="deniedView($index)" style="cursor: pointer;">{{campaign.cm_denied_domain}}</td>
                                      <td ng-if="campaign.cm_denied_domain == 'No'" ng-click="deniedView($index)">{{campaign.cm_denied_domain}}</td>

                                      <td>{{campaign.cm_campaign_asset}}</td>
                                      <td>{{campaign.cm_industry}}</td>
                                      <td>{{campaign.cm_dept}}</td>
                                      <td>{{campaign.cm_method}}</td>
                                      <td>{{campaign.cm_job}}</td>
                                      <td>
                                        <a href="#/campaign/edit/{{campaign.cm_id}}"><i class="fa fa-pencil"></i></a>
                                        <i class="fa fa-trash" data-toggle="modal" data-target="#confirm-delete" ng-click="deleteCampaign(campaign.cm_id)"></i>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                                <br>
                                    <span id="pagination_detail" ng-show="filteredTodos.length > 0" class="pagination_ds">Showing {{ filterUserend }} to {{filterUser}} of {{campaignListcount}} Campaign's</span>
                                <span id="pagination_div" align="right" ng-show="filteredTodos.length > 0"
                                      style="float: right;margin-left: 60%;">
                                  <pagination
                                          ng-model="currentPage"
                                          total-items="campaignListcount"
                                          max-size="maxSize"
                                          boundary-links="true" data-num-pages="noOfPages"
                                          items-per-page="numPerPage">
                                  </pagination>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirm-delete">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Confirm Delete</h4>
      </div>
      <div class="modal-body">
        <p>You are about to delete <b><i class="title"></i></b> record, this procedure is irreversible.</p>
                <p>Do you want to proceed?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
        <button type="button" id="del" class="btn btn-danger" ng-click="deleteConfirm()">Delete</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!--1  Account List (Y/N) Modal -->
<div class="modal fade" id="account_list">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
         <h4 class="modal-title">Account List</h4>
      </div>
      <div class="modal-body">
         <table class="table table-hover">
              <thead>
                <tr>
                  <th>Company</th>
                  <th>Website</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="list in accountList track by $index">
                    <td>{{list.amcm_company}}</td>
                    <td>{{list.amcm_website}}</td>
                </tr>
              </tbody>
            </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<!--2 Supression File (Y/N) Modal -->
<div class="modal fade" id="supression_file">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Supression File</h4>
      </div>
      <div class="modal-body">
         <table class="table table-hover">
              <thead>
                <tr>
                  <th>Company</th>
                  <th>Website</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="list in supressionList track by $index">
                    <td>{{list.scm_company}}</td>
                    <td>{{list.scm_website}}</td>
                </tr>
              </tbody>
            </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>


<!--3 Allowed Domain Modal -->
<div class="modal fade" id="allow_Domain">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Allowed Domain</h4>
      </div>
      <div class="modal-body">
         <table class="table table-hover">
              <thead>
                <tr>
                  <th>Website</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="list in allowDomainList track by $index">
                    <td>{{list.adcm_website}}</td>
                </tr>
              </tbody>
            </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>


<!--4 Custom Question Modal -->
<div class="modal fade" id="custom_question">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Custom Question</h4>
      </div>
      <div class="modal-body">
          <table class="table table-hover">
              <thead>
                <tr>
                  <th>Question</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="list in customQuestionList track by $index">
                    <td>{{list.cmcm_question}}</td>
                </tr>
              </tbody>
            </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>


<!--5 Denied Domain Modal -->
<div class="modal fade" id="denied_domain">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Denied Domain</h4>
      </div>
      <div class="modal-body">
          <table class="table table-hover">
              <thead>
                <tr>
                  <th>Website</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="list in deniedDomainList track by $index">
                    <td>{{list.ddcm_website}}</td>
                </tr>
              </tbody>
            </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>