<div class="pcoded-content" ng-init="getCampaign();">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-body">
                    <div class="card">
                        <div class="card-header">
                            <ul class="breadcrumb-title pull-right">
                                <li class="breadcrumb-item">
                                    <a href="#/"> <i class="fa fa-home"></i> </a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#/">Campaign</a>
                                </li>
                                <li class="active breadcrumb-item">
                                    <a class="active">Edit Campaign</a>
                                </li>
                            </ul>
                            <h3>Edit Campaign</h3>
                            <hr>
                        </div>
                        <div class="card-block">
                            <div class="form-group row">
                               <div class="col-sm-3">
                                        <label>First Delivery</label>
                                        <input type="text" id="cm_first_dely" class="form-control date" ng-model="campaign.cm_first_dely" />
                                        <br>
                                </div>
                                <div class="col-sm-3">
                                        <label>End Date</label>
                                        <input type="text" id="cm_end_date" class="form-control date" ng-model="campaign.cm_end_date" />
                                        <br>
                                </div>
                                <div class="col-sm-3">
                                        <label>Delivery Frequency</label>
                                        <input type="text" id="cm_dely_frequency" class="form-control" ng-model="campaign.cm_dely_frequency" />
                                      <br>  
                                </div>

                                <div class="col-sm-3">
                                        <label>Campaign Name</label>
                                        <input type="text" id="cm_campaign_name" class="form-control" ng-model="campaign.cm_campaign_name" />
                                </div>
                                <div class="col-sm-3">
                                        <label>Restriction</label>
                                        <input type="text" id="cm_restrict" class="form-control" ng-model="campaign.cm_restrict" />
                                        <br>
                                </div>
                                <div class="col-sm-3">
                                    <label>Account List (Y/N)</label>
                                    <select id="cm_account_list" class="form-control" ng-model="campaign.cm_account_list">
                                        <option value="">Select your option</option>
                                        <option data-backdrop="static" data-keyboard="false">Yes</option>
                                        <option data-backdrop="static" data-keyboard="false">No</option>
                                    </select>
                                    <button style="position: absolute; margin-top: -13%; margin-left: 65%;" ng-click="updateAccntList()" ng-show="campaign.cm_account_list=='Yes'"><i class="fa fa-pencil"></i></button>
                                    <br>    
                                </div>
                                <div class="col-sm-3">
                                        <label>Supression File (Y/N)</label>
                                        <select id="cm_supression_file" class="form-control" ng-model="campaign.cm_supression_file" >
                                            <option value="">Select your option</option>
                                            <option data-backdrop="static" data-keyboard="false" >Yes</option>
                                            <option data-backdrop="static" data-keyboard="false">No</option>
                                        </select>
                                        <button style="position: absolute; margin-top: -13%; margin-left:65%;" ng-click="updateSupression()" ng-show="campaign.cm_supression_file=='Yes'"><i class="fa fa-pencil"></i></button>
                                    <br>    
                                </div>
                                <div class="col-sm-3">
                                        <label>Domain Limit</label>
                                        <input type="text" id="cm_domain_limit" class="form-control" ng-model="campaign.cm_domain_limit" />
                                        <br>
                                </div>
                                <div class="col-sm-3">
                                        <label>Employee Size</label>
                                        <input type="text" id="cm_emp_size" class="form-control" ng-model="campaign.cm_emp_size"/>
                                
                                </div>
                                <div class="col-sm-3">
                                        <label>Disqualifies</label>
                                        <input type="text" id="cm_disqualifies" class="form-control" ng-model="campaign.cm_disqualifies"/>
                                        <br>
                                </div>
                                <div class="col-sm-3">
                                        <label>Title</label>
                                        <input type="text" id="cm_title" class="form-control" ng-model="campaign.cm_title">
                                </div>
                                <div class="col-lg-3">
                                        <label>Lead Count</label>
                                        <input type="text" id="cm_lead_count" class="form-control" ng-model="campaign.cm_lead_count">
                                    <br>
                                </div>
                                <div class="col-sm-3">
                                        <label>Verticals</label>
                                        <input type="text" id="cm_vertical" class="form-control" ng-model="campaign.cm_vertical" />
                                
                                </div>
                                <div class="col-sm-3">
                                        <label>Geo</label>
                                        <input type="text" id="cm_geo" class="form-control" ng-model="campaign.cm_geo" />
                                    <br>    
                                </div>
                                <div class="col-sm-3">
                                        <label>Allowed Domain</label>
                                        <select id="cm_allow_domain" class="form-control" ng-model="campaign.cm_allow_domain">
                                            <option value="">Select your option</option>
                                            <option data-backdrop="static" data-keyboard="false">Yes</option>
                                            <option data-backdrop="static" data-keyboard="false">No</option>
                                        </select>
                                        <button style="position: absolute; margin-top: -13%; margin-left: 65%;" ng-click="updateAllowDomain()" ng-show="campaign.cm_allow_domain=='Yes'"><i class="fa fa-pencil"></i></button>
                                    <br>    
                                </div>
                                <div class="col-sm-3">
                                        <label>Revenue</label>
                                        <input type="text" id="cm_revenue" class="form-control" ng-model="campaign.cm_revenue">
                                    <br> 
                                </div>
                                <div class="col-sm-3">
                                        <label>Custom Question</label>
                                        <select id="cm_custom_question" class="form-control" ng-model="campaign.cm_custom_question">
                                            <option value="">Select your option</option>
                                            <option data-backdrop="static" data-keyboard="false">Yes</option>
                                            <option data-backdrop="static" data-keyboard="false">No</option>
                                        </select>
                                        <button style="position: absolute; margin-top: -13%; margin-left: 65%;" ng-click="updateCustomQuestion()" ng-show="campaign.cm_custom_question=='Yes'"><i class="fa fa-pencil"></i></button>
                                    <br>    
                                </div>
                                <div class="col-sm-3">
                                        <label>Denied Domain</label>
                                        <select id="cm_denied_domain" class="form-control" ng-model="campaign.cm_denied_domain">
                                            <option value="">Select your option</option>
                                            <option  data-backdrop="static" data-keyboard="false">Yes</option>
                                            <option  data-backdrop="static" data-keyboard="false">No</option>
                                        </select>
                                        <button style="position: absolute; margin-top: -13%; margin-left: 65%;" ng-click="updateDeniedDomain()" ng-show="campaign.cm_denied_domain=='Yes'"><i class="fa fa-pencil"></i></button>
                                    <br>    
                                </div>
                                <div class="col-sm-3">
                                        <label>Campaign Asset</label>
                                        <input type="text" id="cm_campaign_asset" class="form-control" ng-model="campaign.cm_campaign_asset">
                                    <br>
                                </div>
                                <div class="col-sm-3">
                                        <label>Industry</label>
                                        <input type="text" id="cm_industry" class="form-control" ng-model="campaign.cm_industry">
                                    <br>
                                </div>
                                <div class="col-sm-3">
                                        <label>Department</label>
                                        <input type="text" id="cm_dept" class="form-control" ng-model="campaign.cm_dept">
                                    <br>
                                </div>
                                <div class="col-sm-3">
                                        <label>Method</label>
                                        <input type="text" id="cm_method" class="form-control" ng-model="campaign.cm_method">
                                    <br>
                                </div>
                                <div class="col-sm-3">
                                        <label>Job Function / Level</label>
                                        <input type="text" id="cm_job" class="form-control" ng-model="campaign.cm_job" >
                                    <br>
                                </div>
                            </div>
                            <br>
                            <div class="form-group row">
                                <br>
                                <div class="col-sm-12">
                                    <button type="button" class="btn btn-grd-danger" onclick="window.location = '#/campaign/'" id="btncancel">Back</button>
                                    <button type="submit" class="btn btn-grd-success" id="btnsave" ng-click="updateCampaign()">Update</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--1  Account List (Y/N) Modal -->
<div class="modal fade" id="account_list">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Campaign Account List</h4>
      </div>
      <div class="modal-body">

        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-2-offset">
                    <label>Company</label><br>
                    <input type="text" id="amcm_company" ng-model="account.amcm_company">
                </div>
                <div class="col-sm-2">
                    <label>Website</label><br>
                    <input type="text" id="amcm_website" ng-model="account.amcm_website">
                </div>
                <div class="col-sm-3">
                </div>
                <div class="col-sm-2"><br>
                    <button class="btn btn-primary" ng-click="accntAdd()">Add</button>
                </div>
            </div>
        </div><br>

        <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Company</th>
                  <th>Website</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="list1 in oldaccountList track by $index">
                    <td>{{list1.amcm_company}}</td>
                    <td>{{list1.amcm_website}}</td>
                    <td>
                        <i class="fa fa-trash" ng-click="deleteoldAccntList($index)"></i>
                    </td>
                </tr>
                <tr ng-repeat="list in accountList track by $index">
                    <td>{{list.amcm_company}}</td>
                    <td>{{list.amcm_website}}</td>
                    <td>
                        <i class="fa fa-trash" ng-click="deleteAccntList($index)"></i>
                    </td>
                </tr>
              </tbody>
            </table>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger pull-left" ng-click="closeAccntList()">Close</button>
        <button type="submit" class="btn btn-success pull-right" ng-click="addAccntList()">Save & Close</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- END Account List (Y/N) Modal -->

<!--2 Supression File (Y/N) Modal -->
<div class="modal fade" id="supression_file">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Campaign Account List</h4>
      </div>
      <div class="modal-body">

        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-2-offset">
                    <label>Company</label><br>
                    <input type="text" id="scm_company" ng-model="supression.scm_company">
                </div>
                <div class="col-sm-2">
                    <label>Website</label><br>
                    <input type="text" id="scm_website" ng-model="supression.scm_website">
                </div>
                <div class="col-sm-3">
                </div>
                <div class="col-sm-2"><br>
                    <button class="btn btn-primary" ng-click="supressionAdd()">Add</button>
                </div>
            </div>
        </div><br>

        <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Company</th>
                  <th>Website</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="list1 in oldsupressionList track by $index">
                    <td>{{list1.scm_company}}</td>
                    <td>{{list1.scm_website}}</td>
                    <td>
                        <i class="fa fa-trash" ng-click="deleteOldSupression($index)"></i>
                    </td>
                </tr>
                <tr ng-repeat="list in supressionList track by $index">
                    <td>{{list.scm_company}}</td>
                    <td>{{list.scm_website}}</td>
                    <td>
                        <i class="fa fa-trash" ng-click="deleteSupression($index)"></i>
                    </td>
                </tr>
              </tbody>
            </table>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger pull-left" ng-click="closeSupression()">Close</button>
        <button type="submit" class="btn btn-success pull-right" ng-click="addSupression()">Save & Close</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- END Supression File (Y/N) Modal -->

<!--3 Allowed Domain Modal -->
<div class="modal fade" id="allow_Domain">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Domain Account List</h4>
      </div>
      <div class="modal-body">

        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-3-offset">
                    <label>Website</label><br>
                    <input type="text" id="adcm_website" ng-model="allow_domain.adcm_website">
                </div>
                <div class="col-sm-2"><br>
                    <button class="btn btn-primary" ng-click="allowDomainAdd()">Add</button>
                </div>
            </div>
        </div><br>

        <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Website</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="list1 in oldallowDomainList track by $index">
                    <td>{{list1.adcm_website}}</td>
                    <td>
                        <i class="fa fa-trash" ng-click="deleteOldAllowDomain($index)"></i>
                    </td>
                </tr>
                <tr ng-repeat="list in allowDomainList track by $index">
                    <td>{{list.adcm_website}}</td>
                    <td>
                        <i class="fa fa-trash" ng-click="deleteAllowDomain($index)"></i>
                    </td>
                </tr>
              </tbody>
            </table>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger pull-left" ng-click="closeAllowDomain()">Close</button>
        <button type="submit" class="btn btn-success pull-right" ng-click="addAllowDomain()">Save & Close</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- END Allowed Domain Modal -->

<!--4 Custom Question Modal -->
<div class="modal fade" id="custom_question">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Question Campaign Account List</h4>
      </div>
      <div class="modal-body">
        
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-3-offset">
                    <label>Question</label><br>
                    <input type="text" id="cmcm_question" ng-model="custom_question.cmcm_question">
                </div>
                <div class="col-sm-2"><br>
                    <button class="btn btn-primary" ng-click="customQuestionAdd()">Add</button>
                </div>
            </div>
        </div><br>

        <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Question</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="list1 in oldcustomQuestionList track by $index">
                    <td>{{list1.cmcm_question}}</td>
                    <td>
                        <i class="fa fa-trash" ng-click="deleteOldCustomQuestion($index)"></i>
                    </td>
                </tr>
                <tr ng-repeat="list in customQuestionList track by $index">
                    <td>{{list.cmcm_question}}</td>
                    <td>
                        <i class="fa fa-trash" ng-click="deleteCustomQuestion($index)"></i>
                    </td>
                </tr>
              </tbody>
            </table>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger pull-left" ng-click="closeCustomQuestion()">Close</button>
        <button type="submit" class="btn btn-success pull-right" ng-click="addCustomQuestion()">Save & Close</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- END Custom Question Modal -->

<!--5 Denied Domain Modal -->
<div class="modal fade" id="denied_domain">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Domain Account List</h4>
      </div>
      <div class="modal-body">

        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-3-offset">
                    <label>Website</label><br>
                    <input type="text" id="ddcm_website" ng-model="denied_domain.ddcm_website">
                </div>
                <div class="col-sm-2"><br>
                    <button class="btn btn-primary" ng-click="deniedDomainAdd()">Add</button>
                </div>
            </div>
        </div><br>

        <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Website</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="list1 in olddeniedDomainList track by $index">
                    <td>{{list1.ddcm_website}}</td>
                    <td>
                        <i class="fa fa-trash" ng-click="deleteOldDeniedDomain($index)"></i>
                    </td>
                </tr>

                <tr ng-repeat="list in deniedDomainList track by $index">
                    <td>{{list.ddcm_website}}</td>
                    <td>
                        <i class="fa fa-trash" ng-click="deleteDeniedDomain($index)"></i>
                    </td>
                </tr>
              </tbody>
            </table>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger pull-left" ng-click="closeDeniedDomain()">Close</button>
        <button type="submit" class="btn btn-success pull-right" ng-click="addDeniedDomain()">Save & Close</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- END Denied Domain  Modal -->


<!-- Delete CLose -->
<!-- 1. -->
<div class="modal fade deleteposition" id="accnt_delete">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
                <p>Are You Sure You Want To Delete The Records?</p>
      </div>
      <div class="modal-footer">
        <button type="button" id="del" class="btn btn-danger" ng-click="accntDelConfirm()">Yes</button>
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal" ng-click="accntNoChange()">No</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- 2 -->
<div class="modal fade deleteposition" id="supression_delete">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
                <p>Are You Sure You Want To Delete The Records?</p>
      </div>
      <div class="modal-footer">
        <button type="button" id="del" class="btn btn-danger" ng-click="supresDelConfirm()">Yes</button>
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal" ng-click="supresNoChange()">No</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- 3 -->
<div class="modal fade deleteposition" id="allowed_delete">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
                <p>Are You Sure You Want To Delete The Records?</p>
      </div>
      <div class="modal-footer">
        <button type="button" id="del" class="btn btn-danger" ng-click="allowDelConfirm()">Yes</button>
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal" ng-click="allowNoChange()">No</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- 4 -->
<div class="modal fade deleteposition" id="custom_delete">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
                <p>Are You Sure You Want To Delete The Records?</p>
      </div>
      <div class="modal-footer">
        <button type="button" id="del" class="btn btn-danger" ng-click="customDelConfirm()">Yes</button>
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal" ng-click="customNoChange()">No</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- 5 -->
<div class="modal fade deleteposition" id="denied_delete">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
                <p>Are You Sure You Want To Delete The Records?</p>
      </div>
      <div class="modal-footer">
        <button type="button" id="del" class="btn btn-danger" ng-click="deniedDelConfirm()">Yes</button>
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal" ng-click="deniedNoChange()">No</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->