<div class="pcoded-content" ng-init="getAll();">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-body">
                    <div class="card" ng-show='loading1==1'>
                      	<div class="card-header">
                            <ul class="breadcrumb-title pull-right">
                                <li class="breadcrumb-item">
                                    <a href="#/"> <i class="fa fa-home"></i> </a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#/">Contact Discovery</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a class="active">Contact Discovery List</a>
                                </li>
                            </ul>
                            <h3>Contact Discovery List</h3>
                            <hr>
                      	</div>
                      	<div class="card-block">
                            <div class="row">
                              <div class="col-lg-2">
                                        <label>From</label>
                                        <input type="text" id="cdm_from_date" class="form-control date"/>
                                        <br>
                                </div>
                                <div class="col-lg-2">
                                        <label>To</label>
                                        <input type="text" id="cdm_to_date" class="form-control date" />
                                        <br>
                                </div>

                              <div class="col-lg-1">
                                <button class="btn btn-primary" style="margin-top: 1.8em;margin-left: -.8em" ng-click="check()">Check</button>
                              </div>
                              <div class="col-lg-3">
                                <input type="text" class="form-control" id="searchtext" ng-model="searchtext" onkeyup="angular.element(this).scope().getSearch();" placeholder = "Search by-  Contact Name" style="margin-top: 2em" /><br>
                              </div>
                              <div class="col-lg-3">
                                <button type="button" style="margin-top: 2em" class="btn btn-warning form-control" id="btnExport" ng-click="exportXlslist()">Export To Excel</button>
                              </div>
                              <div class="col-lg-1">
                                <a class="btn btn-outline btn-info" style="margin-top: 1.8em" href="#/contactdiscovery/createjob">Add</a>
                              </div>
                            </div>
                            <div class="form-group row" id="table">
                              <table class="table table-responsive" id='export'>
                                  <thead>
                                    <tr>
                                      <th>Campaign Name</th>
                                      <th>First Name</th>
                                      <th>Last Name</th>
                                      <th>Job Title</th>
                                      <th>Job Level</th>
                                      <th>Department</th>
                                      <th>Email-Id</th>
                                      <th>Mobile Number</th>
                                      <th>Company Name</th>
                                      <th>Address</th>
                                      <th>City</th>
                                      <th>State</th>
                                      <th>Postal Code</th>
                                      <th>Countryt</th>
                                      <th>Industry</th>
                                      <th>Company Size</th>
                                      <th>Revenue</th>
                                      <th>Asset</th>
                                      <th>Domain</th>
                                      <th>Status</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr ng-repeat="contactdiscovery in contactdiscoveryList">
                                      <td>{{contactdiscovery.cm_campaign_name}}</td>
                                      <td>{{contactdiscovery.cdm_first_name}}</td>
                                      <td>{{contactdiscovery.cdm_last_name}}</td>
                                      <td>{{contactdiscovery.cdm_job_title}}</td>
                                      <td>{{contactdiscovery.cdm_job_level}}</td>
                                      <td>{{contactdiscovery.cdm_dept}}</td>
                                      <td>{{contactdiscovery.cdm_email_id}}</td>
                                      <td>{{contactdiscovery.cdm_mobile}}</td>
                                      <td>{{contactdiscovery.cdm_company_name}}</td>
                                      <td>{{contactdiscovery.cdm_address}}</td>
                                      <td>{{contactdiscovery.cdm_city}}</td>
                                      <td>{{contactdiscovery.cdm_state}}</td>
                                      <td>{{contactdiscovery.cdm_postal_code}}</td>
                                      <td>{{contactdiscovery.cdm_country}}</td>
                                      <td>{{contactdiscovery.cdm_industry}}</td>
                                      <td>{{contactdiscovery.cdm_company_size}}</td>
                                      <td>{{contactdiscovery.cdm_revenue}}</td>
                                      <td>{{contactdiscovery.cdm_asset}}</td>
                                      <td>{{contactdiscovery.cdm_domain}}</td>
                                      <td>{{contactdiscovery.call_status}}</td>
                                    </tr>
                                  </tbody>
                                </table>
                            </div>
                            <div class="form-group row">
                                <table class="table table-responsive">
                      		        <thead>
                  	                <tr>
                                      <th>Campaign Name</th>
                	                    <th>First Name</th>
                          						<th>Last Name</th>
                          						<th>Job Title</th>
                          						<th>Job Level</th>
                                      <th>Department</th>
                                      <th>Email-Id</th>
                                      <th>Mobile Number</th>
                                      <th>Company Name</th>
                                      <th>Address</th>
                                      <th>City</th>
                                      <th>State</th>
                                      <th>Postal Code</th>
                                      <th>Countryt</th>
                                      <th>Industry</th>
                                      <th>Company Size</th>
                                      <th>Revenue</th>
                                      <th>Asset</th>
                                      <th>Domain</th>
                                      <th>Status</th>
                          						<th>Action</th>
                  	                </tr>
                    	            </thead>
                    	            <tbody>
                  	                <tr ng-repeat="contactdiscovery in filteredTodos | filter : contactdiscovery">
                                      <td>{{contactdiscovery.cm_campaign_name}}</td>
                          						<td>{{contactdiscovery.cdm_first_name}}</td>
                          						<td>{{contactdiscovery.cdm_last_name}}</td>
                          						<td>{{contactdiscovery.cdm_job_title}}</td>
                          						<td>{{contactdiscovery.cdm_job_level}}</td>
                                      <td>{{contactdiscovery.cdm_dept}}</td>
                                      <td>{{contactdiscovery.cdm_email_id}}</td>
                                      <td>{{contactdiscovery.cdm_mobile}}</td>
                                      <td>{{contactdiscovery.cdm_company_name}}</td>
                                      <td>{{contactdiscovery.cdm_address}}</td>
                                      <td>{{contactdiscovery.cdm_city}}</td>
                                      <td>{{contactdiscovery.cdm_state}}</td>
                                      <td>{{contactdiscovery.cdm_postal_code}}</td>
                                      <td>{{contactdiscovery.cdm_country}}</td>
                                      <td>{{contactdiscovery.cdm_industry}}</td>
                                      <td>{{contactdiscovery.cdm_company_size}}</td>
                                      <td>{{contactdiscovery.cdm_revenue}}</td>
                                      <td>{{contactdiscovery.cdm_asset}}</td>
                                      <td>{{contactdiscovery.cdm_domain}}</td>
                                      <td>{{contactdiscovery.call_status}}</td>
                          						<td>
                          							<i class="fa fa-info-circle" data-toggle="modal" data-target="#view-details" ng-click="view($index)"></i>
                          							<a href="#/contactdiscovery/edit/{{contactdiscovery.cdm_id}}"><i class="fa fa-pencil"></i></a>
                          							<i class="fa fa-trash" data-toggle="modal" data-target="#confirm-delete" ng-click="deleteEntry(contactdiscovery.cdm_id)"></i>
                          						</td>
              	                    </tr>
                    	            </tbody>
                      		      </table>
                      		      <br>
                      	            <span id="pagination_detail" ng-show="filteredTodos.length > 0" class="pagination_ds">Showing {{ filterUserend }} to {{filterUser}} of {{contactdiscoveryListcount}} Contact Discovery's</span>
                      			    <span id="pagination_div" align="right" ng-show="filteredTodos.length > 0"
                      			          style="float: right;margin-left: 60%;">
                      			      <pagination
                      			              ng-model="currentPage"
                      			              total-items="contactdiscoveryListcount"
                      			              max-size="maxSize"
                      			              boundary-links="true" data-num-pages="noOfPages"
                      			              items-per-page="numPerPage">
                      			      </pagination>
                      		    	</span>
                            </div>
             	  	      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirm-delete">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Confirm Delete</h4>
      </div>
      <div class="modal-body">
        <p>You are about to delete <b><i class="title"></i></b> record, this procedure is irreversible.</p>
                <p>Do you want to proceed?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
        <button type="button" id="del" class="btn btn-danger" ng-click="deleteConfirm()">Delete</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="view-details">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Custom Question's</h4>
      </div>
      <div class="modal-body">
      	<table class="table table-hover">
          <thead>
            <tr>
              <th class="" style="border: 1px solid #ccc; text-align: center;">Question</th>
              <th class="" style="border: 1px solid #ccc; text-align: center;">Answers</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="question in answers track by $index">
                <td>{{question.qm_questions}}</td>
                <td>{{question.qm_answers}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->