<div class="pcoded-content" ng-init="getEntry();">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-body">
                    <div class="card">
                        <div class="card-header">
                            <ul class="breadcrumb-title pull-right">
                                <li class="breadcrumb-item">
                                    <a href="#/"> <i class="fa fa-home"></i> </a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#/">Contact Discovery</a>
                                </li>
                                <li class="active breadcrumb-item">
                                    <a class="active">Edit Contact Discovery</a>
                                </li>
                            </ul>
                            <h3>Edit Contact Discovery</h3>
                            <hr>
                        </div>
                        <div class="card-block">
                            <div class="form-group row">
                                <div class="col-sm-4">
                                        <label>Campaign Name</label>
                                        <input type="text" id="cdm_campaign" class="form-control" ng-model="contactdiscovery.cm_campaign_name" readonly />
                                        <br>
                                </div>
                                <!-- <div class="col-sm-4">
                                        <label>Project Name</label>
                                        <input type="text" id="cdm_project_name" class="form-control" ng-model="contactdiscovery.cdm_project_name" />
                                        <br>
                                </div> -->
                                <div class="col-sm-4">
                                        <label>First Name</label>
                                        <input type="text" id="cdm_first_name" class="form-control" ng-model="contactdiscovery.cdm_first_name" />
                                        <br>
                                </div>
                                <div class="col-sm-4">
                                        <label>Last Name</label>
                                        <input type="text" id="cdm_last_name" class="form-control" ng-model="contactdiscovery.cdm_last_name" />
                                        
                                </div>

                                <div class="col-sm-4">
                                        <label>Job Title</label>
                                        <select id='cdm_job_title' ng-if="contactdiscovery.cm_title == 'Yes'" class="form-control" ng-model="contactdiscovery.titles" ng-init="contactdiscovery.titles = titleList[0]" ng-options="title as title.ctm_title for title in titleList">
                                            <option value="">select</option>
                                        </select>
                                        <input type="text" id="cdm_job_title" ng-if="contactdiscovery.cm_title == 'No'" class="form-control" ng-model="contactdiscovery.titles.ctm_title" />
                                        <br>
                                </div>
                                <div class="col-sm-4">
                                        <label>Job Level</label>
                                        <select id='cdm_job_level' ng-if="contactdiscovery.cm_job == 'Yes'" class="form-control" name="right" ng-model="contactdiscovery.levels" ng-init="contactdiscovery.levels = levelList[0]" ng-options="level as level.cjlm_job_level for level in levelList">
                                            <option value="">select</option>
                                        </select>
                                        <input type="text" id="cdm_job_level" ng-if="contactdiscovery.cm_job == 'No'" class="form-control" ng-model="contactdiscovery.levels.cjlm_job_level" />
                                        
                                </div>

                                <div class="col-sm-4">
                                        <label>Department</label>
                                        <select id='cdm_dept' ng-if="contactdiscovery.cm_dept == 'Yes'" class="form-control" name="right" ng-model="contactdiscovery.cdm_dept" ng-init="contactdiscovery.departments = deptList[0].cdm_department" ng-options="dept as dept.cdm_department for dept in deptList">
                                            <option value="">select</option>
                                        </select>
                                        <input type="text" id="cdm_dept" ng-if="contactdiscovery.cm_dept == 'No'" class="form-control" ng-model="contactdiscovery.departments.cdm_department" />
                                       <br> 
                                </div>
                                <div class="col-sm-4">
                                        <label>Email-Id</label>
                                        <input type="email" id="cdm_email_id" class="form-control" ng-model="contactdiscovery.cdm_email_id" />
                                        
                                </div>
                                
                                <div class="col-sm-4">
                                        <label>Direct Number / Landline Number</label>
                                        <input type="text" id="cdm_mobile" class="form-control" ng-model="contactdiscovery.cdm_mobile" />
                                        <br>
                                </div>
                                <div class="col-sm-4">
                                        <label>Company Name</label>
                                        <select id='cdm_company_name' ng-if="contactdiscovery.cm_account_list == 'Yes'" class="form-control" name="right" ng-model="contactdiscovery.companies" ng-init="contactdiscovery.companies = companyList[0]" ng-options="company as company.amcm_company for company in companyList">
                                            <option value="">select</option>
                                        </select>
                                        <input type="text" id="cdm_company_name" ng-if="contactdiscovery.cm_account_list == 'No'" class="form-control" ng-model="contactdiscovery.companies.amcm_company"/>
                                
                                </div>

                                <div class="col-sm-4">
                                        <label>Address</label>
                                        <textarea id="cdm_address" class="form-control" ng-model="contactdiscovery.cdm_address" rows="1"></textarea>
                                        <br>
                                </div>
                                <div class="col-sm-4">
                                        <label>City</label>
                                        <input type="text" id="cdm_city" class="form-control" ng-model="contactdiscovery.cdm_city">
                                
                                </div>

                                <div class="col-lg-4">
                                        <label>State</label>
                                        <input type="text" id="cdm_state" class="form-control" ng-model="contactdiscovery.cdm_state">
                                    <br>
                                </div>
                                <div class="col-sm-4">
                                        <label>Postal Code</label>
                                        <input type="text" id="cdm_postal_code" class="form-control" ng-model="contactdiscovery.cdm_postal_code" />
                                
                                </div>
                                <div class="col-sm-4">
                                        <label>Country</label>
                                        <input type="text" id="cdm_country" class="form-control" ng-model="contactdiscovery.cdm_country" />
                                    <br>    
                                </div>
                                 <div class="col-sm-4">
                                        <label>Industry</label>
                                        <select id='cdm_industry' ng-if="contactdiscovery.cm_industry == 'Yes'" class="form-control" name="right" ng-model="contactdiscovery.industries" ng-init="contactdiscovery.industries = industryList[0]" ng-options="industry as industry.cim_industries for industry in industryList">
                                            <option value="">select</option>
                                        </select>
                                        <input type="text" id="cdm_industry" ng-if="contactdiscovery.cm_industry == 'No'" class="form-control" ng-model="contactdiscovery.industries.cim_industries">
                                
                                </div>
                                <div class="col-sm-4">
                                        <label>Company Size</label>
                                        <select id='cdm_company_size' ng-if="contactdiscovery.cm_emp_size == 'Yes'" class="form-control" name="right" ng-model="contactdiscovery.sizes" ng-init="contactdiscovery.sizes = sizeList[0]" ng-options="size as size.cesm_employee_size for size in sizeList">
                                            <option value="">select</option>
                                        </select>
                                        <input type="text" id="cdm_company_size" ng-if="contactdiscovery.cm_emp_size == 'No'" class="form-control" ng-model="contactdiscovery.cdm_company_size">

                                    <br>    
                                </div>
                                <div class="col-sm-4">
                                        <label>Revenue</label>
                                        <select id='cdm_revenue' ng-if="contactdiscovery.cm_revenue == 'Yes'" class="form-control" name="right" ng-model="contactdiscovery.revenues" ng-init="contactdiscovery.revenues = revenueList[0]" ng-options="revenue as revenue.crem_revenue for revenue in revenueList">
                                            <option value="">select</option>
                                        </select>
                                        <input type="text" id="cdm_revenue" ng-if="contactdiscovery.cm_revenue == 'No'" class="form-control" ng-model="contactdiscovery.revenues.crem_revenue" />
                                
                                </div>
                                <div class="col-sm-4">
                                        <label>Asset</label>
                                        <select id='cdm_asset' ng-if="contactdiscovery.cm_campaign_asset == 'Yes'" class="form-control" name="right" ng-model="contactdiscovery.assets" ng-init="contactdiscovery.assets = assetList[0]" ng-options="asset as asset.cam_campaign_asset for asset in assetList">
                                            <option value="">select</option>
                                        </select>
                                        <input type="text" id="cdm_asset" ng-if="contactdiscovery.cm_campaign_asset == 'No'" class="form-control" ng-model="contactdiscovery.assets.cam_campaign_asset" />
                                    <br>    
                                </div>
                                <div class="col-sm-4">
                                        <label>Domain</label>
                                        <select id='cdm_domain' ng-if="contactdiscovery.cm_allow_domain == 'Yes'" class="form-control" name="right" ng-model="contactdiscovery.domains" ng-init="contactdiscovery.domains = aldomainList[0]" ng-options="domain as domain.adcm_website for domain in aldomainList">
                                            <option value="">select</option>
                                        </select>
                                        <input type="text" id="cdm_domain" ng-if="contactdiscovery.cm_allow_domain == 'No'" class="form-control" ng-model="contactdiscovery.domains.adcm_website" />
                                <br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <table class="table table-hover">
                                      <thead>
                                        <tr>
                                          <th class="" style="border: 1px solid #ccc; text-align: center;">Question</th>
                                          <th class="" style="border: 1px solid #ccc; text-align: center;">Answers</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr ng-repeat="question in questionans track by $index">
                                            <td>{{question.cmcm_question}}</td>
                                            <td>{{question.cmcm_answer}}</td>
                                        </tr>
                                      </tbody>
                                    </table>
                                </div>
                                <div class="col-lg-3">
                                    <table class="table table-hover">
                                      <thead>
                                        <tr>
                                          <th class="" style="border: 1px solid #ccc; text-align: center;">Supression List of Company</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr ng-repeat="supp in suppList track by $index">
                                            <td>{{supp.scm_company}}</td>
                                        </tr>
                                      </tbody>
                                    </table>
                                </div>
                                <div class="col-lg-3">
                                    <table class="table table-hover">
                                      <thead>
                                        <tr>
                                          <th class="" style="border: 1px solid #ccc; text-align: center;">Denied Domain Website</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr ng-repeat="deny in denydomain track by $index">
                                            <td>{{deny.ddcm_website}}</td>
                                        </tr>
                                      </tbody>
                                    </table>
                                </div>
                            </div>
                            <br>
                            <div class="form-group row">
                                <br>
                                <div class="col-sm-12">
                                    <button type="button" class="btn btn-grd-danger" onclick="window.location = '#/contactdiscovery/joblist'" id="btncancel">Back</button>
                                    <button type="submit" class="btn btn-grd-success" id="btnsave" ng-click="updateEntry()">Update</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>