<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-body">
                    <div class="card">
                        <div class="card-header">
                            <ul class="breadcrumb-title pull-right">
                                <li class="breadcrumb-item">
                                    <a href="#/"> <i class="fa fa-home"></i> </a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#/">Contact Discovery</a>
                                </li>
                                <li class="active breadcrumb-item">
                                    <a href="#/" class="active">Create Job</a>
                                </li>
                            </ul>
                            <h3>Create New Job</h3>
                            <hr>
                        </div>
                        <div class="card-block">
                            <div class="form-group row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Campaign Name</label>
                                        <input type="text"
                                            id="cdm_campaign_name"
                                            ng-model="contactdiscovery.cdm_campaign_name"
                                            typeahead="obj as obj.cm_campaign_name for obj in getSearchCampaign($viewValue)"
                                            typeahead-loading="loadingCampaignList"
                                            typeahead-no-results="noCampaignListResults"
                                            typeahead-on-select="getCampaignDetails()"
                                            class="form-control">
                                        <i ng-show="loadingCampaignList" class="glyphicon glyphicon-refresh"></i>
                                        <div ng-show="noCampaignListResults">
                                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="col-sm-4">
                                        <label>Project Name</label>
                                        <input type="text" id="cdm_project_name" class="form-control" ng-model="contactdiscovery.cdm_project_name" />
                                        <br>
                                </div> -->
                                <div class="col-sm-4">
                                        <label>First Name</label>
                                        <input type="text" id="cdm_first_name" class="form-control" ng-model="contactdiscovery.cdm_first_name" />
                                        <br>
                                </div>
                                <div class="col-sm-4">
                                        <label>Last Name</label>
                                        <input type="text" id="cdm_last_name" class="form-control" ng-model="contactdiscovery.cdm_last_name" />
                                        
                                </div>

                                <div class="col-sm-4">
                                        <label>Job Title</label>
                                        <input type="text" id="cdm_job_title" class="form-control" ng-model="contactdiscovery.cdm_job_title" />
                                        <br>
                                </div>
                                <div class="col-sm-4">
                                        <label>Job Level</label>
                                        <input type="text" id="cdm_job_level" class="form-control" ng-model="contactdiscovery.cdm_job_level" />
                                        
                                </div>

                                <div class="col-sm-4">
                                        <label>Department</label>
                                        <input type="text" id="cdm_dept" class="form-control" ng-model="contactdiscovery.cdm_dept" />
                                       <br> 
                                </div>
                                <div class="col-sm-4">
                                        <label>Email-Id</label>
                                        <input type="email" id="cdm_email_id" class="form-control" ng-model="contactdiscovery.cdm_email_id" />
                                        
                                </div>
                                
                                <div class="col-sm-4">
                                        <label>Mobile Number</label>
                                        <input type="text" id="cdm_mobile" class="form-control" ng-model="contactdiscovery.cdm_mobile" />
                                        <br>
                                </div>
                                <div class="col-sm-4">
                                        <label>Company Name</label>
                                        <input type="text" id="cdm_company_name" class="form-control" ng-model="contactdiscovery.cdm_company_name"/>
                                
                                </div>

                                <div class="col-sm-4">
                                        <label>Address</label>
                                        <textarea id="cdm_address" class="form-control" ng-model="contactdiscovery.cdm_address" rows="1"></textarea>
                                        <br>
                                </div>
                                <div class="col-sm-4">
                                        <label>City</label>
                                        <input type="text" id="cdm_city" class="form-control" ng-model="contactdiscovery.cdm_city">
                                
                                </div>

                                <div class="col-lg-4">
                                        <label>State</label>
                                        <input type="text" id="cdm_state" class="form-control" ng-model="contactdiscovery.cdm_state">
                                    <br>
                                </div>
                                <div class="col-sm-4">
                                        <label>Postal Code</label>
                                        <input type="text" id="cdm_postal_code" class="form-control" ng-model="contactdiscovery.cdm_postal_code" />
                                
                                </div>
                                <div class="col-sm-4">
                                        <label>Country</label>
                                        <input type="text" id="cdm_country" class="form-control" ng-model="contactdiscovery.cdm_country" />
                                    <br>    
                                </div>
                                <div class="col-sm-4">
                                        <label>Industry</label>
                                        <input type="text" id="cdm_industry" class="form-control" ng-model="contactdiscovery.cdm_industry">
                                
                                </div>
                                <div class="col-sm-4">
                                        <label>Company Size</label>
                                        <select id="cdm_company_size" class="form-control" ng-model="contactdiscovery.cdm_company_size">
                                            <option>N/A</option>
                                            <option>0-100</option>
                                            <option>101-500</option>
                                            <option>501-1000</option>
                                            <option>1000-10000</option>
                                        </select>
                                    <br>    
                                </div>
                                <div class="col-sm-4">
                                        <label>Revenue</label>
                                        <input type="text" id="cdm_revenue" class="form-control" ng-model="contactdiscovery.cdm_revenue" />
                                
                                </div>
                                <div class="col-sm-4">
                                        <label>Asset</label>
                                        <input type="text" id="cdm_asset" class="form-control" ng-model="contactdiscovery.cdm_asset" />
                                    <br>    
                                </div>
                                <div class="col-sm-4">
                                        <label>Domain</label>
                                        <input type="text" id="cdm_domain" class="form-control" ng-model="contactdiscovery.cdm_domain" />
                                <br>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-5">
                                    <label>Question</label>
                                    <input type="text" id="qm_questions" class="form-control" ng-model="obj.qm_questions">
                                </div>
                                <div class="col-sm-5">
                                    <label>Answer</label>
                                    <input type="textarea" id="qm_answers" class="form-control" ng-model="obj.qm_answers">
                                </div>
                                <div class="col-sm-2">
                                    <label>&nbsp;</label>
                                    <button class="btn-outline-success form-control" ng-click="addto()" type="submit">Add</button>
                                </div>
                            </div>
                            <table class="table table-hover">
                              <thead>
                                <tr>
                                  <th class="" style="border: 1px solid #ccc; text-align: center;">Question</th>
                                  <th class="" style="border: 1px solid #ccc; text-align: center;">Answers</th>
                                  <th style="border: 1px solid #ccc; text-align: center;">Action</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr ng-repeat="question in answers track by $index">
                                    <td contenteditable="true">{{question.qm_questions}}</td>
                                    <td contenteditable="true">{{question.qm_answers}}</td>
                                    <td><button class="form-control" ng-click="deleteQA()"><i class="fa fa-trash" ></button></i></td>
                                </tr>
                              </tbody>
                            </table>
                            <br>
                            <div class="form-group row">
                                <br>
                                <div class="col-sm-12">
                                    <button type="button" class="btn btn-grd-danger" onclick="window.location = '#/contactdiscovery/joblist'" id="btncancel">Back</button>
                                    <button type="submit" class="btn btn-grd-success" id="btnsave" ng-click="addEntry()">SAVE</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>