<style>
  .fa-music{
    margin-left: 1.4em;
  }
  .fa-music:hover{
    cursor: pointer;
  }
  .fa-user-plus{
    margin-left: 1em;
  }
  .fa-user-plus:hover{
    cursor: pointer;
  }
</style>

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-body">
                    <div class="card">
                      	<div class="card-header">
                            <ul class="breadcrumb-title pull-right">
                                <li class="breadcrumb-item">
                                    <a href="#/"> <i class="fa fa-home"></i> </a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#/">Queue</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a class="active">Prequeue</a>
                                </li>
                            </ul>
                            <h3>Prequeue List</h3>
                            <hr>
                      	</div>
                      	<div class="card-block">
                            <div class="row">
                              <div class="col-lg-10" id="searchbox">
                                <div class="form-group">
                                  <label>Campaign Name</label>
                                  <input type="text"
                                      id="cdm_campaign_name"
                                      ng-model="contactdiscovery.cdm_cm_id"
                                      typeahead="obj as obj.cm_campaign_name for obj in getSearchCampaign($viewValue)"
                                      typeahead-loading="loadingCampaignList"
                                      typeahead-no-results="noCampaignListResults"
                                      typeahead-on-select="getAll(contactdiscovery)"
                                      class="form-control">
                                  <i ng-show="loadingCampaignList" class="glyphicon glyphicon-refresh"></i>
                                  <div ng-show="noCampaignListResults">
                                      <i class="glyphicon glyphicon-remove"></i> No Results Found
                                  </div>
                                </div>
                              </div>
                              <div class="col-lg-2" id="btnExportbox">
                                <button type="button" style="margin-top: 2em" class="btn btn-warning form-control" id="btnExport" ng-click="exportXlslist()">Export To Excel</button>
                              </div>
                            </div>
                            <div class="form-group row" id="table">
                              <table class="table table-responsive" id='export'>
                                  <thead>
                                    <tr>
                                      <th>Campaign_Name</th>
                                      <th>First_Name</th>
                                      <th>Last_Name</th>
                                      <th>Job_Title</th>
                                      <th>Job_Level</th>
                                      <th>Department</th>
                                      <th>Email_Id</th>
                                      <th>Mobile_Number</th>
                                      <th>Company_Name</th>
                                      <th>Address</th>
                                      <th>City</th>
                                      <th>State</th>
                                      <th>Postal_Code</th>
                                      <th>Countryt</th>
                                      <th>Industry</th>
                                      <th>Company_Size</th>
                                      <th>Revenue</th>
                                      <th>Asset</th>
                                      <th>Domain</th>
                                      <th>Status</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr ng-repeat="contactdiscovery in contactdiscoveryList">
                                      <td>{{contactdiscovery.cm_campaign_name}}</td>
                                      <td>{{contactdiscovery.cdm_first_name}}</td>
                                      <td>{{contactdiscovery.cdm_last_name}}</td>
                                      <td>{{contactdiscovery.cdm_job_title}}</td>
                                      <td>{{contactdiscovery.cdm_job_level}}</td>
                                      <td>{{contactdiscovery.cdm_dept}}</td>
                                      <td>{{contactdiscovery.cdm_email_id}}</td>
                                      <td>{{contactdiscovery.cdm_mobile}}</td>
                                      <td>{{contactdiscovery.cdm_company_name}}</td>
                                      <td>{{contactdiscovery.cdm_address}}</td>
                                      <td>{{contactdiscovery.cdm_city}}</td>
                                      <td>{{contactdiscovery.cdm_state}}</td>
                                      <td>{{contactdiscovery.cdm_postal_code}}</td>
                                      <td>{{contactdiscovery.cdm_country}}</td>
                                      <td>{{contactdiscovery.cdm_industry}}</td>
                                      <td>{{contactdiscovery.cdm_company_size}}</td>
                                      <td>{{contactdiscovery.cdm_revenue}}</td>
                                      <td>{{contactdiscovery.cdm_asset}}</td>
                                      <td>{{contactdiscovery.cdm_domain}}</td>
                                      <td>{{contactdiscovery.call_status}}</td>
                                    </tr>
                                  </tbody>
                                </table>
                            </div>
                            <div class="form-group row">
                                <table class="table table-responsive">
                      		        <thead>
                  	                <tr>
                                      <th>Campaign Name</th>
                	                    <th>First Name</th>
                          						<th>Last Name</th>
                          						<th>Job Title</th>
                          						<th>Job Level</th>
                                      <th>Department</th>
                                      <th>Email-Id</th>
                                      <th>Mobile Number</th>
                                      <th>Company Name</th>
                                      <th>Address</th>
                                      <th>City</th>
                                      <th>State</th>
                                      <th>Postal Code</th>
                                      <th>Countryt</th>
                                      <th>Industry</th>
                                      <th>Company Size</th>
                                      <th>Revenue</th>
                                      <th>Asset</th>
                                      <th>Domain</th>
                                      <th>Status</th>
                                      <th>Recordings</th>
                                      <th>Follow Ups</th>
                  	                </tr>
                    	            </thead>
                    	            <tbody>
                  	                <tr ng-repeat="contactdiscovery in filteredTodos">
                                      <td>{{contactdiscovery.cm_campaign_name}}</td>
                          						<td>{{contactdiscovery.cdm_first_name}}</td>
                          						<td>{{contactdiscovery.cdm_last_name}}</td>
                          						<td>{{contactdiscovery.cdm_job_title}}</td>
                          						<td>{{contactdiscovery.cdm_job_level}}</td>
                                      <td>{{contactdiscovery.cdm_dept}}</td>
                                      <td>{{contactdiscovery.cdm_email_id}}</td>
                                      <td>{{contactdiscovery.cdm_mobile}}</td>
                                      <td>{{contactdiscovery.cdm_company_name}}</td>
                                      <td>{{contactdiscovery.cdm_address}}</td>
                                      <td>{{contactdiscovery.cdm_city}}</td>
                                      <td>{{contactdiscovery.cdm_state}}</td>
                                      <td>{{contactdiscovery.cdm_postal_code}}</td>
                                      <td>{{contactdiscovery.cdm_country}}</td>
                                      <td>{{contactdiscovery.cdm_industry}}</td>
                                      <td>{{contactdiscovery.cdm_company_size}}</td>
                                      <td>{{contactdiscovery.cdm_revenue}}</td>
                                      <td>{{contactdiscovery.cdm_asset}}</td>
                                      <td>{{contactdiscovery.cdm_domain}}</td>
                                      <td><select ng-change='queueStatus(contactdiscovery)' ng-model="contactdiscovery.call_status">
                                            <option >Lead</option>
                                            <option value="Qualify">Qualify</option>
                                            <option value="Disqualify">Disqualify</option>
                                          </select></td>
                                      <td>
                                        <i class="fa fa-music fa-lg" data-toggle="modal" data-target="#view-recordings" ng-click="records($index)"></i></td>
                                        <td>
                                        <i class="fa fa-user-plus fa-lg" data-toggle="modal" data-target="#view-followup" ng-click="follows($index)"></i></td>
              	                    </tr>
                    	            </tbody>
                      		      </table>
                            </div>
             	  	      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="view-recordings">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Audio Recordings</h4>
      </div>
      <div class="modal-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th class="" style="border: 1px solid #ccc; text-align: center;">Recordings</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="records in recording track by $index">
                <td><audio ng-src="{{records.cdam_audio}}" controls controlsList="nodownload"></audio></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="view-followup">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Contact Follow Ups</h4>
      </div>
      <div class="modal-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>FollowUp Date</th>
              <th>Comment</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="follow in followups track by $index">
                <td>{{follow.fm_date | date:medium}}</td>
                <td>{{follow.fm_comment}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>