<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-body">
                    <div class="card" ng-init="getAll();">
                      	<div class="card-header">
                            <ul class="breadcrumb-title pull-right">
                                <li class="breadcrumb-item">
                                    <a href="#/"> <i class="fa fa-home"></i> </a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#/">TeleCaller</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#">Contact Details</a>
                                </li>
                            </ul>
                            <h3>Contact Details</h3>
                            <hr>
                      	</div>
                      	<div class="card-block">
                            <div class="form-group row table-responsive">
                              <table class="table table-border" id='export'>
                                  <thead>
                                    <tr>
                                      <th>Campaign_Name</th>
                                      <th>First_Name</th>
                                      <th>Last_Name</th>
                                      <th>Job_Title</th>
                                      <th>Mobile_Number</th>
                                      <th>Status</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr ng-repeat="contacts in contactList">
                                      <td>{{contacts.cm_campaign_name}}</td>
                                      <td>{{contacts.cdm_first_name}}</td>
                                      <td>{{contacts.cdm_last_name}}</td>
                                      <td>{{contacts.cdm_job_title}}</td>
                                      <td>{{contacts.cdm_mobile}}</td>
                                      <td><select ng-model="contacts.call_status" ng-change=statuschange(contacts)>
                                        <option >open</option>
                                        <option value="Call">Call</option>
                                        <option value="Calling">Calling</option>
                                        <option value="Lead">Lead</option>
                                        <option value="Follow Up">Follow Up</option>
                                        <option value="Do Not Disturb">Do Not Disturb</option>
                                        <option value="Close">Close</option>
                                        </select>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                            </div>
                            <br>
                            <br>
                             <div class="row">
                                <div class="col-lg-6">
                                    <table class="table table-hover">
                                      <thead>
                                        <tr>
                                          <th class="" style="border: 1px solid #ccc; text-align: center;">Question</th>
                                          <th class="" style="border: 1px solid #ccc; text-align: center;">Answers</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr ng-repeat="question in questionans track by $index">
                                            <td>{{question.cmcm_question}}</td>
                                            <td>{{question.cmcm_answer}}</td>
                                        </tr>
                                      </tbody>
                                    </table>
                                </div>
                              </div>
                              <br>
                              <br>
                            <div class="form-group row">
                              <div class="col-lg-4 offset-lg-4"><h3>Followup Details</h3></div>
                            </div>
                            <div class="form-group row">
                              <div class="col-sm-3">
                                  <label>Follow Up Date</label>
                                  <input type="text" id="fm_date" ng-model="follow.fm_date" class="form-control date"/>
                                </div>
                                <div class="col-sm-3">
                                        <label>Comment</label>
                                        <input type="textArea" id="fm_comment" ng-model="follow.fm_comment" class="form-control date" style="margin-left: -.7em;" />
                                </div>
                                <div class="col-sm-2">
                                        <input type="button" id="fd_btn" class="form-control btn btn-grd-success" value="Update" style="margin-top: 2em; margin-left:-1em; " ng-click="updateFollowup()" />
                                 <br><br>
                                </div>
                                <div class="col-sm-2">
                                  <audio id="blah" hidden controls style="height: 20px; width: 230px; margin-top: 1em;">
                                  </audio>
                                  <input type='file' id="cdam_audio" name="cdam_audio" style="margin-left: -1.8em; margin-top: 2em;" />
                                </div>
                                <div class="col-sm-2">
                                  <button type="button" id="next" class="form-control btn btn-primary" value="Next" style="margin-top:2em; margin-left: .5em;" >Next</button>
                                </div>
                              </div>
                                <div class="form-group row">
                                  <div class="col-sm-12">
                                    <table class="table table-bordered">
                                      <thead>
                                        <tr>
                                          <th>Followup-Date</th>
                                          <th>Comment</th>
                                        </tr>
                                      </thead>
                                       <tbody>
                                          <tr ng-repeat='followup in followdetails'>
                                            <td>{{followup.fm_date | date}}</td>
                                            <td>{{followup.fm_comment}}</td>
                                          </tr>
                                        </tbody>
                                    </table>
                                  </div>
                                </div>

                            </div>
             	  	      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--  -->