<!-- Breadcrumb -->

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-body">
                    <div class="card">
                        <div class="card-header">
                            <ul class="breadcrumb-title pull-right">
                                <li class="breadcrumb-item">
                                    <a href="index.html"> <i class="fa fa-home"></i> </a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#!">Settings</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#!">Change Password</a>
                                </li>
                            </ul>
                            <h3>Change Password</h3>
                            <hr>
                        </div>
                        <div class="card-block">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Current Password</label>
                                <div class="col-sm-4">
                                    <input type="password" id="curpassword" class="form-control" ng-model="user.curpassword">
                                </div>
                                <label class="col-sm-2 col-form-label">New Password</label>
                                <div class="col-sm-4">
                                    <input type="password" id="password" class="form-control" ng-model="user.password">
                                    <br><br>
                                </div>
                                <label class="col-sm-2 col-form-label">Confirm Password</label>
                                <div class="col-sm-4">
                                    <input type="password" id="conpassword" class="form-control" ng-model="user.conpassword">
                                </div>

                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-6">
                                    <button class="btn btn-grd-danger" onclick="window.location = '#/'" id="btncancel">Back</button>
                                    <button class="btn btn-grd-success" id="btnsave" ng-click="changePassword()">Update Password</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    

<!-- /.conainer-fluid -->