<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-body">
                    <div class="card">
                        <div class="card-header">
                            <ul class="breadcrumb-title pull-right">
                                <li class="breadcrumb-item">
                                    <a href="#/"> <i class="fa fa-home"></i> </a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#/">Manager</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#/user/add">Job Assign</a>
                                </li>
                            </ul>
                            <h3>Assign New Job</h3>
                            <hr>
                        </div>
                        <div class="card-block">
                            <div class="form-group row">
                              <div class="col-md-2">
                                <label>Job Count:</label>
                              </div>
                                <div class="col-md-3">
                                    <input type="checkbox" id="username" class="" ng-model="assignAll">Assign to all Employees
                                </div>
                                <div class="col-md-3">
                                    <input type="checkbox" id="username" class="" ng-model="assignSingle">Assign to Single Employee
                                </div>
                            </div>
                            <button type="submit" class="btn btn-grd-success" id="btnsave" ng-click="AssignAllEmp()" ng-show="assignAll">Assign</button>
                            <button type="submit" class="btn btn-grd-success" id="btnsave" ng-click="AssignSingleEmp()" ng-show="assignSingle">Assign</button>
                            <br>
                            <div class="row">
                                <div class="col-sm-4">
                                  <button type="button" class="btn btn-grd-danger" onclick="window.location = '#/user'" id="btncancel">Back</button>
                                  <button type="submit" class="btn btn-grd-success" id="btnsave" ng-click="addUser()">SAVE</button>
                                </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>