<div class="pcoded-content" ng-init="getproject();">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-body">
                    <div class="card">
                        <div class="card-header">
                            <ul class="breadcrumb-title pull-right">
                                <li class="breadcrumb-item">
                                    <a href="#/"> <i class="fa fa-home"></i> </a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#/">Manager</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#/user/add">Edit Project</a>
                                </li>
                            </ul>
                            <h3>Edit Project</h3>
                            <hr>
                        </div>
                        <div class="card-block">
                              <div class="form-group row">
                                <div class="col-sm-6">
                                  <label>Project Name</label>
                                  <input type="text"
                                        id="mm_pm_name"
                                        ng-model="project.mm_pm_name"
                                        class="form-control">
                                  </div>
                                  <div class="col-sm-6">
                                    <div class="form-group">
                                      <label>Project Details</label>
                                      <input type="text" id="mm_pm_details" class="form-control" ng-model="project.mm_pm_details" />
                                    </div>
                                  </div>
                              </div>
                              <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Project Type</label>
                                        <input type="text" id="mm_pm_type" class="form-control" ng-model="project.mm_pm_type"  />
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Assign Project</label>
                                        <input type="text" id="mm_pm_assign" class="form-control" ng-model="project.mm_pm_assign"/>
                                    </div>
                                </div>
                              </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-4">
                                  <button type="button" class="btn btn-grd-danger" onclick="window.location = '#/projectlist'" id="btncancel">Back</button>
                                  <button type="submit" class="btn btn-grd-success" id="btnsave" ng-click="updateProject()">SAVE</button>
                                </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>