<div class="pcoded-content" ng-init="getAll();">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-body">
                    <div class="card">
                      	<div class="card-header">
                            <ul class="breadcrumb-title pull-right">
                                <li class="breadcrumb-item">
                                    <a href="#/"> <i class="fa fa-home"></i> </a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#/">Manager</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#">Project List</a>
                                </li>
                            </ul>
                            <h3>Project List</h3>
                            <hr>
                      	</div>
                      	<div class="card-block">
                            <div class="row">
                              <div class="col-lg-11">
                                <input type="text" class="form-control" id="searchtext" ng-model="searchtext" onkeyup="angular.element(this).scope().getSearch();" placeholder = "Search Here..."/><br>
                              </div>
                              <div class="col-lg-1">
                                <a class="btn btn-outline btn-info" href="#/manager/create">Add</a>
                              </div>
                            </div>
                            <div class="form-group row">
                                <table class="table table-responsive">
                      		        <thead>
                  	                <tr>
                	                    <th style="width: 24%;">Project Name</th>
                          						<th style="width: 24%;">Project Details</th>
                          						<th style="width: 24%;">Project Type</th>
                          						<th style="width: 24%;">Assigned To</th>
                          						<th>Action</th>
                  	                </tr>
                    	            </thead>
                    	            <tbody>
                  	                <tr ng-repeat="manager in filteredTodos">
                          						<td>{{manager.mm_pm_name}}</td>
                          						<td>{{manager.mm_pm_details}}</td>
                          						<td>{{manager.mm_pm_type}}</td>
                          						<td>{{manager.mm_pm_assign}}</td>
                          						<td>
                          							<a href="#/manager/edit/{{manager.mm_id}}"><i class="fa fa-pencil"></i></a>
                          							<i class="fa fa-trash" data-toggle="modal" data-target="#confirm-delete" ng-click="deleteProject(manager.mm_id)"></i>
                          						</td>
              	                    </tr>
                    	            </tbody>
                      		      </table>
                      		      <br>
                      	            <span id="pagination_detail" ng-show="filteredTodos.length > 0" class="pagination_ds">Showing {{ filterUserend }} to {{filterUser}} of {{projectListcount}} Customer's</span>
                      			    <span id="pagination_div" align="right" ng-show="filteredTodos.length > 0"
                      			          style="float: right;margin-left: 65%;">
                      			      <pagination
                      			              ng-model="currentPage"
                      			              total-items="projectListcount"
                      			              max-size="maxSize"
                      			              boundary-links="true" data-num-pages="noOfPages"
                      			              items-per-page="numPerPage">
                      			      </pagination>
                      		    	</span>
                            </div>
             	  	      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirm-delete">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Confirm Delete</h4>
      </div>
      <div class="modal-body">
        <p>You are about to delete <b><i class="title"></i></b> record, this procedure is irreversible.</p>
                <p>Do you want to proceed?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
        <button type="button" id="del" class="btn btn-danger" ng-click="deleteConfirm()">Delete</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->