<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-body">
                    <div class="card">
                        <div class="card-header">
                            <ul class="breadcrumb-title pull-right">
                                <li class="breadcrumb-item">
                                    <a href="#/"> <i class="fa fa-home"></i> </a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#/">Data-Entry</a>
                                </li>
                                <li class="active breadcrumb-item">
                                    <a href="#/employee/add" class="active">Edit Job</a>
                                </li>
                            </ul>
                            <h3>Edit Job</h3>
                            <hr>
                        </div>
                        <div class="card-block">
                            <div class="form-group row">
                                <div class="col-sm-6">
                                        <label>First Name</label>
                                        <input type="text" id="dm_first_name" class="form-control" ng-model="dataentry.dm_first_name" />
                                </div>
                                <div class="col-sm-6">
                                        <label>Last Name</label>
                                        <input type="text" id="dm_last_name" class="form-control" ng-model="dataentry.dm_last_name" />
                                        <br>
                                </div>

                                <div class="col-sm-6">
                                        <label>Job Title</label>
                                        <input type="text" id="dm_job_title" class="form-control" ng-model="dataentry.dm_job_title" />
                                        
                                </div>
                                <div class="col-sm-6">
                                        <label>Job Level</label>
                                        <input type="text" id="dm_job_level" class="form-control" ng-model="dataentry.dm_job_level" />
                                        <br>
                                </div>

                                <div class="col-sm-6">
                                        <label>Department</label>
                                        <input type="text" id="dm_dept" class="form-control" ng-model="dataentry.dm_dept" />
                                        
                                </div>
                                <div class="col-sm-6">
                                        <label>Email-Id</label>
                                        <input type="email" id="dm_email_id" class="form-control" ng-model="dataentry.dm_email_id" />
                                        <br>
                                </div>
                                
                                <div class="col-sm-6">
                                        <label>Mobile Number</label>
                                        <input type="text" id="dm_mobile" class="form-control" ng-model="dataentry.dm_mobile" />
                                </div>
                                <div class="col-sm-6">
                                        <label>Company Name</label>
                                        <textarea id="dm_company_name" class="form-control" ng-model="dataentry.dm_company_name" rows="1"></textarea>
                                <br>
                                </div>

                                <div class="col-sm-6">
                                        <label>Address</label>
                                        <textarea id="dm_address" class="form-control" ng-model="dataentry.dm_address" rows="1"></textarea>
                                </div>
                                <div class="col-sm-6">
                                        <label>City</label>
                                        <select id="dm_city" class="form-control" ng-model="dataentry.dm_city"><option>N/A</option></select>
                                <br>
                                </div>

                                <div class="col-lg-6">
                                        <label>State</label>
                                        <select id="dm_state" class="form-control" ng-model="dataentry.dm_state"><option>N/A</option></select>
                                
                                </div>
                                <div class="col-sm-6">
                                        <label>Postal Code</label>
                                        <input type="text" id="dm_postal_code" class="form-control" ng-model="dataentry.dm_postal_code" />
                                <br>
                                </div>
                                <div class="col-sm-6">
                                        <label>Country</label>
                                        <input type="text" id="dm_country" class="form-control" ng-model="dataentry.dm_country" />
                                        
                                </div>
                                <div class="col-sm-6">
                                        <label>Industry</label>
                                        <select id="dm_industry" class="form-control" ng-model="dataentry.dm_industry"><option>N/A</option></select>
                                <br>
                                </div>
                                <div class="col-sm-6">
                                        <label>Company Size</label>
                                        <select id="dm_country_size" class="form-control" ng-model="dataentry.dm_country_size"><option>N/A</option></select>
                                        
                                </div>
                                <div class="col-sm-6">
                                        <label>Revenue</label>
                                        <input type="text" id="dm_revenue" class="form-control" ng-model="dataentry.dm_revenue" />
                                <br>
                                </div>
                                <div class="col-sm-6">
                                        <label>Asset</label>
                                        <input type="text" id="dm_asset" class="form-control" ng-model="dataentry.dm_asset" />
                                        
                                </div>
                                <div class="col-sm-6">
                                        <label>Domain</label>
                                        <input type="text" id="dm_domain" class="form-control" ng-model="dataentry.dm_domain" />
                                <br>
                                </div>
                            </div>
                            <div class="form-group row">
                                <br>
                                <div class="col-sm-12">
                                    <button type="button" class="btn btn-grd-danger" onclick="window.location = '#/employee'" id="btncancel">Back</button>
                                    <button type="submit" class="btn btn-grd-success" id="btnsave" ng-click="updateEntry()">SAVE</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>