<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-body">
                    <div class="card">
                        <div class="card-header">
                            <ul class="breadcrumb-title pull-right">
                                <li class="breadcrumb-item">
                                    <a href="index.html"> <i class="fa fa-home"></i> </a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#!">User Management</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#!">Edit User</a>
                                </li>
                            </ul>
                            <h3>Edit User</h3>
                            <hr>
                        </div>
                        <div class="card-block">
                            <div class="form-group row">
                                <div class="col-lg-6">
                                  <label>Employee Name</label>
                                  <input type="text"
                                        id="um_emp_id"
                                        ng-model="user.um_emp_id"
                                        typeahead="obj as obj.emp_name for obj in getSearchEmp($viewValue)"
                                        typeahead-loading="loadingEmpList"
                                        typeahead-no-results="noEmpListResults"
                                        class="form-control">
                                  <i ng-show="loadingEmpList" class="glyphicon glyphicon-refresh"></i>
                                  <div ng-show="noEmpListResults">
                                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                                  </div>
                                </div>
                                  <div class="col-lg-6">
                                    <div class="form-group">
                                      <label>Username</label>
                                      <input type="text" id="username" class="form-control" ng-model="user.username" />
                                    </div>
                                  </div>
                              </div>
                              <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input type="text" id="password" class="form-control" ng-model="user.password"  />
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Confirm Password</label>
                                        <input type="text" id="confirm_password" class="form-control" ng-model="user.confirm_password" />
                                    </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Assign Roles</label>
                                        <select id="assign_role" class="form-control" ng-model="user.assign_role">
                                          <option>N/A</option>
                                        </select>
                                    </div>
                                </div>
                              </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-4">
                                  <button type="button" class="btn btn-grd-danger" onclick="window.location = '#/user'" id="btncancel">Back</button>
                                  <button type="submit" class="btn btn-grd-success" id="btnsave" ng-click="addUser()">SAVE</button>
                                </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>